<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Subscriptions</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    <h1>Your Subscriptions</h1>
    <p>Here are all the channels you are subscribed to:</p>

    <table>
      <thead>
        <tr>
          <th>Channel Handle</th>
          <th>Channel Logo</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% subscriptions.forEach(subscription => { %>
          <tr>
            <td><%= subscription.channel.handle %></td>
            <td><img src="<%= subscription.channel.logoURL %>" alt="<%= subscription.channel.handle %> Logo" width="50"></td>
            <td><%= subscription.channel.description %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
